{
  "url": "https://www.example.com",
  "localData": [
    {
        "store": "Local",
        "key": "",
        "value": ""
    },
    {
        "store": "Local",
        "key": "",
        "value": ""
    },
    {
        "store": "Local",
        "key": "",
        "value": ""
    },
    {
        "store": "Local",
        "key": "",
        "value": ""
    }
],
  "cookies": [
    {
        "name": "",
        "value": "",
        "domain": "",
        "hostOnly": "",
        "path": "",
        "secure": "",
        "httpOnly": "",
        "sameSite": "",
        "session": "",
        "firstPartyDomain": "",
        "partitionKey": "",
        "expirationDate": "",
        "storeId": ""
    }
]
}
